<div class="three-fourth main-text last">

	<!-- new -->

	<h1 class="skin-font-color1"><span class="bold">Promowane</span> ogłoszenia:</h1>
	 <ul class='promo-tabs'>
		<li><a href='#promo1' class="skin-font-color5 bold">Wszystko</a></li>
		<li><a href='#promo2' class="skin-font-color5">Strony internetowe</a></li>
		<li><a href='#promo3' class="skin-font-color5">Grafika</a></li>
		<li><a href='#promo4' class="skin-font-color5">Aplikacje</a></li>
		<li><a href='#promo5' class="skin-font-color5">Administracja, wdrożenia</a></li>
		<li><a href='#promo6' class="skin-font-color5">Prace edytorskie</a></li>
		<li><a href='#promo7' class="skin-font-color5">Marketing, reklama</a></li>
		<li><a href='#promo8' class="skin-font-color5">Pozostałe</a></li>
	</ul>
	
	<div class="promo-tabs-content">
		<div id='promo1'>
			<div class="list-header skin-font-color7">
				<div class="four-fifth">
					<span class="skin-font-color6 bold">Tytuł</span>
				</div>
				<div class="one-fifth last">
					<div class="one-half">
						<span class="skin-font-color6 bold">Ofert</span>
					</div>
					<div class="one-half last">
						<span class="skin-font-color6 bold">Dodane</span>
					</div>
				</div>
			</div>
			<ul class="list">
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
							<span class="list-icon radious-5px skin-background-color3 skin-font-color2">900zł</span>
							<span class="list-icon radious-5px skin-background-color7 skin-font-color2">zaufany</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
							<span class="list-icon radious-5px skin-background-color8 skin-font-color2">tylko firma</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
							<span class="list-icon radious-5px skin-background-color3 skin-font-color2">3.900zł</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
							<span class="list-icon radious-5px skin-background-color3 skin-font-color2">300-1000zł</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
							<span class="list-icon radious-5px skin-background-color3 skin-font-color2">340zł</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div id='promo2'>
			<div class="list-header">
			<div class="four-fifth">
				<span class="skin-font-color6 bold">Tytuł</span>
			</div>
			<div class="one-fifth last">
				<div class="one-half">
					<span class="skin-font-color6 bold">Ofert</span>
				</div>
				<div class="one-half last">
					<span class="skin-font-color6 bold">Dodane</span>
				</div>
			</div>
			</div>
			<ul class="list">
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div id='promo3'>
			<div class="list-header">
			<div class="four-fifth">
				<span class="skin-font-color6 bold">Tytuł</span>
			</div>
			<div class="one-fifth last">
				<div class="one-half">
					<span class="skin-font-color6 bold">Ofert</span>
				</div>
				<div class="one-half last">
					<span class="skin-font-color6 bold">Dodane</span>
				</div>
			</div>
			</div>
			<ul class="list">
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	 </div>
	 
	 <!-- /Promo -->
	 <!-- New -->
	 
	 <h1 class="skin-font-color1"><span class="bold">Najnowsze</span> ogłoszenia:</h1>
	 <ul class='new-tabs'>
		<li><a href='#new1' class="skin-font-color5 bold">Wszystko</a></li>
		<li><a href='#new2' class="skin-font-color5">Strony internetowe</a></li>
		<li><a href='#new3' class="skin-font-color5">Grafika</a></li>
		<li><a href='#new4' class="skin-font-color5">Aplikacje</a></li>
		<li><a href='#new5' class="skin-font-color5">Administracja, wdrożenia</a></li>
		<li><a href='#new6' class="skin-font-color5">Prace edytorskie</a></li>
		<li><a href='#new7' class="skin-font-color5">Marketing, reklama</a></li>
		<li><a href='#new8' class="skin-font-color5">Pozostałe</a></li>
	</ul>
	 
	 <div class="new-tabs-content">
		<div id='new1'>
			<div class="list-header skin-font-color7">
				<div class="four-fifth">
					<span class="skin-font-color6 bold">Tytuł</span>
				</div>
				<div class="one-fifth last">
					<div class="one-half">
						<span class="skin-font-color6 bold">Ofert</span>
					</div>
					<div class="one-half last">
						<span class="skin-font-color6 bold">Dodane</span>
					</div>
				</div>
			</div>
			<ul class="list">
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div id='new2'>
			<div class="list-header">
			<div class="four-fifth">
				<span class="skin-font-color6 bold">Tytuł</span>
			</div>
			<div class="one-fifth last">
				<div class="one-half">
					<span class="skin-font-color6 bold">Ofert</span>
				</div>
				<div class="one-half last">
					<span class="skin-font-color6 bold">Dodane</span>
				</div>
			</div>
			</div>
			<ul class="list">
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div id='new3'>
			<div class="list-header">
			<div class="four-fifth">
				<span class="skin-font-color6 bold">Tytuł</span>
			</div>
			<div class="one-fifth last">
				<div class="one-half">
					<span class="skin-font-color6 bold">Ofert</span>
				</div>
				<div class="one-half last">
					<span class="skin-font-color6 bold">Dodane</span>
				</div>
			</div>
			</div>
			<ul class="list">
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Stworzenie prostej strony WWW</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="skin-background-hover4">
						<div class="four-fifth">
							<span class="skin-font-color6">Wdrozenie systemu API z fotolii do strony firmowej</span>
						</div>
						<div class="one-fifth last">
							<div class="one-half">
								<span class="skin-font-color6">27</span>
							</div>
							<div class="one-half last">
								<span class="skin-font-color6">11:30</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	 </div>
	 
	  <!-- /New -->
	  <!-- Pagination -->
	  
	  <div class="pagination">
		<ul>	
			<li><a href="#" class="bold-italic skin-font-color6 skin-color-hover4">Poprzednia strona</a></li>
			<li><a href="#" class="skin-background-color9 skin-font-color2 radious-5px">1</a></li>
			<li><a href="#" class="skin-background-color1 skin-font-color2 radious-5px skin-background-hover6">2</a></li>
			<li><a href="#" class="skin-background-color1 skin-font-color2 radious-5px skin-background-hover6">3</a></li>
			<li><a href="#" class="skin-background-color1 skin-font-color2 radious-5px skin-background-hover6">4</a></li>
			<li><a href="#" class="skin-background-color1 skin-font-color2 radious-5px skin-background-hover6">120</a></li>
			<li><a href="#" class="bold-italic skin-font-color6 skin-color-hover4">Następna strona</a></li>
		</ul>
	  </div>
	  
	   <!-- /Pagination -->

</div>